
    <% options.forEach( option => { %>
        <label>
            <input type="checkbox" name="<%= name %>" value="<%= option.value %>">
            <%= option.text %>
        </label>
        <br />
    <% }) %>
