<%- include('index') %>
<body>
    <div id="container">
        <div style="height: 15px;"></div>
        <div id="logo">
            My orders
        </div>
        <div class="centerO">
            <form method="get" action="/my_acc">
                <button style="width: 200px;" class="a_button" type="submit">Return to My Account</button>
            </form>

            <div class="order-buttons-container">
                <% if (orders.length > 0) { %>
                    <% let orderNumber = 1; %>
                    <% orders.forEach(order => { %>
                        <form method="get" action="/my_acc/see_order">
                            <input type="hidden" name="orderId" value="<%= order.id %>">
                            <button class="a_button" type="submit">Order <%= orderNumber++ %></button>
                        </form>
                    <% }); %>
                <% } else { %>
                    <p class="product">No orders available.</p>
                <% } %>
            </div>
        </div>
    </div>
    <script src="/routes/admin/admin_p.js"></script>
</body>
</html>
