<%- include('index') %>
<body>
    <div id="container">
        <div style="height: 15px;"></div>
        <div id="logo">
            <p><%= message %></p>
        </div>
        <div style="height: 50px;"></div>
        <div class="centerO">
            <form method="get" action="/register">
                <button style="width: 200px;" class="a_button" type="submit">Return to register page</button>
            </form> 
        </div>
    </div>
</body>
</html>
